*{
    margin: 0;
    padding: 0;
}

.body{
    background:#52545e;
}
.container {
    max-width: 1200px;
    min-height: 100vh;
    border: 8px solid #30323D;
    border-top: hidden;
    border-bottom: hidden;
    margin: auto;
    /* padding-top: 20px; */
    background-color: #E8C547;
    color: #30323D;
}
h1{
    font-size: 50px;
    text-align: center;
    padding: 10px;
    font-family:'Staatliches';
}

h2{
    font-size: 35px;
    text-align: center;
    margin: 15px;
    font-family:'Staatliches';
}

h3{
    font-size: 25px;
    text-align: center;
    margin: 15px;
    font-family:'Staatliches';
}

.formBox{
    display: flex;
    justify-content: center;
    padding: 20px;
}
input{
    width: 300px;
    padding: 5px;
    margin: 5px;
    font-family:'rubik';
}

.btnBox{
    display: flex;
    justify-content: center;
}

#boton{
    padding: 10px;
    background-color: #4f9c44;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    font-family:'rubik';
}

#botonLog{
    padding: 10px;
    background-color: #afafaf;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    font-family:'rubik';
}

#tabla{
    max-width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    font-family:'rubik';
}
tr{
    border-bottom: black;
}
td{
    font-weight: bold;
    font-family:'rubik';
}

/* --------------MENU PAGE--------------- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid;
}

.logo{
    display: flex;
    gap: 30px;
}

.logo img{
    width: 75px;
    height: 75px;
}
.navlinks{
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'rubik';
    padding: 10px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #c72626;
}

.buscador{
    text-align: center;
    padding: 20px;
}

.card{
    display: flex;
    align-items: center;
    gap: 100px;
}

.card img {
    width: 300px;
    height: 230px;
}

.card figcaption{
    font-family: 'staatliches';
    font-size: 30px;
}

.card figcaption p{
    font-family: 'rubik';
    font-size: 15px;
}

.carne{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
}

.filtro{
    display: none;
}
