*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1000px;
    min-height: 100vh;
    border: 6px dotted red;
    border-top: hidden;
    border-bottom: hidden;
    margin: auto;
}
h1{
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2{
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formBox{
    display: flex;
    justify-content: center;
    padding: 20px;
}
input{
    padding: 5px;
    margin: 10px;
}

.btnBox{
    display: flex;
    justify-content: center;
}

#boton{
    padding: 10px;
    background-color: #4f9c44;
    font-size: 15px;
    cursor: pointer;
}

#tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    padding: 30px;
}
td{
    padding: 30px;
}